html, body {
    margin: 0;
    padding: 0;
    font-family: 'Circe', sans-serif;
    background: #f0f5f6;
}

a {
    color: unset;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: none;

    cursor: pointer;
}

@font-face {
    font-family: Circe;
    src: url(assets/fonts/Circe-Thin/Circe-Thin.eot);
    src: url(assets/fonts/Circe-Thin/Circe-Thin.eot?#iefix)
    format('embedded-opentype'),
    url(assets/fonts/Circe-Thin/Circe-Thin.woff) format('woff'),
    url(assets/fonts/Circe-Thin/Circe-Thin.ttf) format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: Circe;
    src: url(assets/fonts/Circe-ExtraLight/Circe-ExtraLight.eot);
    src: url(assets/fonts/Circe-ExtraLight/Circe-ExtraLight.eot?#iefix)
    format('embedded-opentype'),
    url(assets/fonts/Circe-ExtraLight/Circe-ExtraLight.woff) format('woff'),
    url(assets/fonts/Circe-ExtraLight/Circe-ExtraLight.ttf) format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: Circe;
    src: url(assets/fonts/Circe-Light/Circe-Light.eot);
    src: url(assets/fonts/Circe-Light/Circe-Light.eot?#iefix)
    format('embedded-opentype'),
    url(assets/fonts/Circe-Light/Circe-Light.woff) format('woff'),
    url(assets/fonts/Circe-Light/Circe-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Circe;
    src: url(assets/fonts/Circe-Regular/Circe-Regular.eot);
    src: url(assets/fonts/Circe-Regular/Circe-Regular.eot?#iefix)
    format('embedded-opentype'),
    url(assets/fonts/Circe-Regular/Circe-Regular.woff) format('woff'),
    url(assets/fonts/Circe-Regular/Circe-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Circe;
    src: url(assets/fonts/Circe-Bold/Circe-Bold.eot);
    src: url(assets/fonts/Circe-Bold/Circe-Bold.eot?#iefix)
    format('embedded-opentype'),
    url(assets/fonts/Circe-Bold/Circe-Bold.woff) format('woff'),
    url(assets/fonts/Circe-Bold/Circe-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Circe;
    src: url(assets/fonts/Circe-ExtraBold/Circe-ExtraBold.eot);
    src: url(assets/fonts/Circe-ExtraBold/Circe-ExtraBold.eot?#iefix)
    format('embedded-opentype'),
    url(assets/fonts/Circe-ExtraBold/Circe-ExtraBold.woff) format('woff'),
    url(assets/fonts/Circe-ExtraBold/Circe-ExtraBold.ttf) format('truetype');
    font-style: normal;
    font-weight: 800;
}